{% extends "base.html" %}

{% block title %} QR Code {%  endblock title %}

{% block content %} <br>
    <div class="container">
        <div class="row">
        <form method="post">{%csrf_token %}
            <input type="input" name="nome" id="nome" class="form-control" placeholder="Nome do QR Code" aria-describedby="basic-addon3">    
            <input type="url" name="link" id="link" class="form-control" placeholder="Link" aria-describedby="basic-addon3">
            <button type="submit" class="btn btn-primary">Criar</button>
         </form>   
        </div>
        {%if teste%}
        {{teste}}
        {%endif %}
    </div>
{% endblock content %}